<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>君子在下位则多谤，在上位则多誉；小人在下位则多誉，在上位则多谤。</string>
		<key>icon</key>
		<string>柳宗元.jpg</string>
		<key>name</key>
		<string>柳宗元</string>
		<key>pictureName</key>
		<string>content_柳宗元.jpg</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>时间会刺破青春表面的彩饰，会在美人的额上掘深沟浅槽；会吃掉稀世之珍！天生丽质，什么都逃不过他那横扫的镰刀。</string>
		<key>icon</key>
		<string>莎士比亚.jpg</string>
		<key>name</key>
		<string>莎士比亚</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>如果我们想交朋友，就要先为别人做些事——那些需要花时间、体力、体贴、奉献才能做到的事。</string>
		<key>icon</key>
		<string>卡耐基.jpg</string>
		<key>name</key>
		<string>卡耐基</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我们爱我们的民族，这是我们自信心的源泉。</string>
		<key>icon</key>
		<string>周恩来.jpg</string>
		<key>name</key>
		<string>周恩来</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>人生就象弈棋，一步失误，全盘皆输，这是令人悲哀之事；而且人生还不如弈棋，不可能再来一局，也不能悔棋。</string>
		<key>icon</key>
		<string>佛洛伊德.jpg</string>
		<key>name</key>
		<string>弗洛伊德</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>信仰是精神的劳动；动物是没有信仰的，野蛮人和原始人有的只是恐怖和疑惑。只有高尚的组织体，才能达到信仰。</string>
		<key>icon</key>
		<string>契诃夫.jpg</string>
		<key>name</key>
		<string>契诃夫</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>巨大的建筑，总是由一木一石叠起来的，我们何妨做做这一木一石呢？我时常做些零碎事，就是为此。</string>
		<key>icon</key>
		<string>鲁迅.jpg</string>
		<key>name</key>
		<string>鲁迅</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>要使人成为真正有教养的人，必须具备三个品质：渊博的知识、思维的习惯和高尚的情操。知识不多就是愚昧；不习惯于思维，就是粗鲁或蠢笨；没有高尚的情操，就是卑俗。</string>
		<key>icon</key>
		<string>车尔尼雪夫斯基.jpg</string>
		<key>name</key>
		<string>车尔尼雪夫斯基</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>判断一个人，不是根据他自己的表白或对自己的看法，而是根据他的行动。</string>
		<key>icon</key>
		<string>列宁.jpg</string>
		<key>name</key>
		<string>列宁</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
