<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>iphone开发宝典</string>
		<key>detail</key>
		<string>一本书全方位介绍ios开发</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>price</key>
		<string>85元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>降龙十八掌</string>
		<key>detail</key>
		<string>拯救世界就靠你了</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>price</key>
		<string>60元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>倚天屠龙记</string>
		<key>detail</key>
		<string>无忌哥哥</string>
		<key>icon</key>
		<string>3.jpg</string>
		<key>price</key>
		<string>100元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数据结构</string>
		<key>detail</key>
		<string>从入门到放弃</string>
		<key>icon</key>
		<string>4.jpg</string>
		<key>price</key>
		<string>30元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大头儿子小头爸爸</string>
		<key>detail</key>
		<string>儿童经典读物</string>
		<key>icon</key>
		<string>5.jpg</string>
		<key>price</key>
		<string>90元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>蓝宝淘气三千问</string>
		<key>detail</key>
		<string>少儿科普</string>
		<key>icon</key>
		<string>6.jpg</string>
		<key>price</key>
		<string>20元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>百年孤独</string>
		<key>detail</key>
		<string>经典巨著</string>
		<key>icon</key>
		<string>7.jpg</string>
		<key>price</key>
		<string>85元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7天玩转ios开发</string>
		<key>detail</key>
		<string>屁！根本玩不转</string>
		<key>icon</key>
		<string>8.jpg</string>
		<key>price</key>
		<string>40元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>鲁宾逊漂流记</string>
		<key>detail</key>
		<string>探险漂流</string>
		<key>icon</key>
		<string>9.jpg</string>
		<key>price</key>
		<string>150元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西游记</string>
		<key>detail</key>
		<string>四大名著</string>
		<key>icon</key>
		<string>10.jpg</string>
		<key>price</key>
		<string>85元</string>
	</dict>
	<dict>
		<key>title</key>
		<string>哈利波特与死亡圣器</string>
		<key>detail</key>
		<string>经典续作</string>
		<key>icon</key>
		<string>11.jpg</string>
		<key>price</key>
		<string>85元</string>
	</dict>
</array>
</plist>
