<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>haizeiwang</key>
	<array>
		<dict>
			<key>title</key>
			<string>海贼王</string>
			<key>imageName</key>
			<string>海贼王_1.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>海贼王</string>
			<key>imageName</key>
			<string>海贼王_2.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>海贼王</string>
			<key>imageName</key>
			<string>海贼王_3.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>海贼王</string>
			<key>imageName</key>
			<string>海贼王_4.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>海贼王</string>
			<key>imageName</key>
			<string>海贼王_5.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>海贼王</string>
			<key>imageName</key>
			<string>海贼王_6.jpg</string>
		</dict>
	</array>
	<key>huoying</key>
	<array>
		<dict>
			<key>title</key>
			<string>火影</string>
			<key>imageName</key>
			<string>火影_1.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火影</string>
			<key>imageName</key>
			<string>火影_2.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火影</string>
			<key>imageName</key>
			<string>火影_3.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火影</string>
			<key>imageName</key>
			<string>火影_4.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火影</string>
			<key>imageName</key>
			<string>火影_5.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火影</string>
			<key>imageName</key>
			<string>火影_6.jpg</string>
		</dict>
	</array>
	<key>kenan</key>
	<array>
		<dict>
			<key>title</key>
			<string>柯南</string>
			<key>imageName</key>
			<string>柯南_1.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>柯南</string>
			<key>imageName</key>
			<string>柯南_2.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>柯南</string>
			<key>imageName</key>
			<string>柯南_3.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>柯南</string>
			<key>imageName</key>
			<string>柯南_4.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>柯南</string>
			<key>imageName</key>
			<string>柯南_5.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>柯南</string>
			<key>imageName</key>
			<string>柯南_6.jpg</string>
		</dict>
	</array>
</dict>
</plist>
